body {
   font-family: 'Recursive', sans-serif; 
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: #212529;
}

/* BRAND */

#brand {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

/* NAVIGATION */

.navbar-toggler {
    color: #212529;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* BG-IMAGES */

.index-left, .index.right {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .index-left, .index-right {
        height: 82vh;
    }
}


.index-left {
    background: rgb(212, 208, 208);
}

.index-right {
    background: url("../images/index-bg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}