body {
   font-family: 'Recursive', sans-serif; 
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: #212529;
}

/* BRAND */

#brand {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

/* NAVIGATION */

.nav-item {
    font-size: 1.25rem;
}

.navbar-toggler {
    color: #212529;
}

/* BG-IMAGES */

.index-left, .index.right {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .index-left, .index-right {
        height: 73vh;
    }
}


.index-left {
    background: rgb(212, 208, 208);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-right {
    background: url("../images/index-bg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* LOCATIONS CALLOUT */

.callout-container {
    height: 100vh;

    background: url("../images/contact-bg.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* TEST MAP FOR CONTACTS */

div#map {min-height: 360px;}

/* FOOTER */

/*
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
*/

.copyright {
    font-size: 1rem;
}

li a i {
    font-size: 1.25rem;
}