body {
   font-family: 'Recursive', sans-serif; 
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: hsl(38, 100%, 44%);
}

.jumbotron {
    padding: 2rem 2rem;
    background-color: hsla(38, 64%, 65%, 0.897);
}

.nav-link.active {
        color: hsl(38, 100%, 44%);
}


/* BRAND */

#brand {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

/* NAVIGATION */

.nav-item {
    font-size: 1.25rem;
}

.navbar-toggler {
    color: #212529;
}

/* BG-IMAGES */

.index-left, .index.right {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .index-left, .index-right {
        height: 73vh;
    }
}

.index-left {
    background: rgba(177, 162, 89, 0.133);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-right {
    background: url("../images/index-bg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* CONTACT CALLOUT */

.callout-container {
    height: 100vh;

    background: url("../images/contact-bg.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* LOCATIONS */
.nav-border-bottom {
    border-bottom: 3px solid #212529;
}

.location-address {
    margin-bottom: 0px;
}

.open-hours {
    font-size: 0.85rem;
    margin: 0;
}

div#map {min-height: 360px;}

/* MENU */

.menu-window {
    border-radius: .4rem;
    padding: 10px;
    background-color: rgba(177, 162, 89, 0.133);
    margin: 10px;
}

.menu-item {
    margin-bottom: 0px;
}

.menu-day {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2rem;
    padding-bottom: 0.25px;
}

/* FOOTER */

.copyright {
    font-size: 1rem;
}

li a i {
    font-size: 1.25rem;
}